@font-face {
    font-family: "OpenBold";
    src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenReg";
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Saira";
    src: url("../fonts/SairaStencilOne-Regular.ttf");
}